* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #2c3e50;
  color: white;
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.nav-list a {
  text-decoration: none; /* Retire le soulignement par défaut */
  color: white;
}

main {
  display: flex;
  justify-content: center;
  max-width: 800px;
  padding: 40px 20px;
  gap: 30px;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

h1 {
  font-size: 24px;
  padding: 0px 0px 15px 0px;
}

h2 {
  padding: 0px 0px 0px 15px;
}

@media (max-width: 768px) {
  h2 {
    padding: 0px 0px 15px 0px;
  }
}

.wrapper-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée exactement 3 colonnes égales */
  padding: 15px;
  gap: 15px;
  list-style: none;
}

@media (max-width: 768px) {
  .wrapper-skills {
    padding: 0px;
  }
}

.card-skills {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 2px grey;
}

footer {
  background-color: #ecf0f1;
  text-align: center;
}

.list-footer {
  padding: 10px;
}
